
.stiker {
    margin: 2.5rem auto;
    text-align: center;
    width: 100%;
}

.kurumi {
    border-radius: 20px;
    border: #252525 solid 1px;
    box-shadow: 8px 5px 0px #252525 ;
}

.desc {
    font-weight: bold;
    font-size: 60px;
}

.support-desc {
    width: 80%;
    margin: auto;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    margin: 3rem;
}

.btn-one {
    background-color: rgb(127, 225, 255);
    padding: .5rem 3rem;
    border-radius: 20px;
    text-align: center;
    border: #252525 solid 1px;
}

.btn-one:hover {
    background-color: rgb(255, 70, 224);
    box-shadow: 4px 5px 0px #252525;
}

.btn-two {
    background-color: rgb(255, 136, 235);
    padding: .5rem 3rem;
    border-radius: 20px;
    text-align: center;
    border: #252525 solid 1px;
}

.btn-two:hover {
    background-color: rgb(62, 210, 255);
    box-shadow: 4px 5px 0px #252525;
}

#copyright{
    text-align: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: auto;
    background-color: white;
}